Source: ca-certificates-fsinf
Section: misc
Priority: standard
Maintainer: Mathias Ertl <mati@fsinf.at>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9)
Homepage: https://git.fsinf.at/fsinf/certificate-authority
Vcs-Browser: https://git.fsinf.at/fsinf/certificate-authority
Vcs-Git: https://git.fsinf.at/fsinf/certificate-authority.git

Package: ca-certificates-fsinf
Architecture: all
Depends: ${misc:Depends}
Description: fsinf.at certificate authority
 Certificate for the fsinf.at certificate authority, used only for internal
 machines.
