#!/usr/bin/make -f

CA_DIR=$(CURDIR)/debian/fsinf-certificate-authority
DJANGO_DIR=$(CA_DIR)/usr/share/fsinf-certificate-authority

%:
	dh $@ --with python2

override_dh_usrlocal:

override_dh_install:
	dh_install

	mv $(DJANGO_DIR)/ca/localsettings.py.sample $(CA_DIR)/etc/fsinf-ca/localsettings.py

	# fix scripts:
	mv $(DJANGO_DIR)/bin/fsinf-ca-list.sh $(CA_DIR)/usr/bin/fsinf-ca-list
	mv $(DJANGO_DIR)/bin/fsinf-ca-remove.sh $(CA_DIR)/usr/bin/fsinf-ca-remove
	mv $(DJANGO_DIR)/bin/fsinf-ca-sign.sh $(CA_DIR)/usr/bin/fsinf-ca-sign
	mv $(DJANGO_DIR)/bin/fsinf-ca-view.sh $(CA_DIR)/usr/bin/fsinf-ca-view
	mv $(DJANGO_DIR)/bin/fsinf-ca-watch.sh $(CA_DIR)/usr/bin/fsinf-ca-watch
	mv $(DJANGO_DIR)/bin/fsinf-ca-crl.sh $(CA_DIR)/usr/bin/fsinf-ca-crl
	mv $(DJANGO_DIR)/bin/fsinf-ca-init.sh $(CA_DIR)/usr/bin/fsinf-ca-init
	mv $(DJANGO_DIR)/bin/fsinf-ca-revoke.sh $(CA_DIR)/usr/bin/fsinf-ca-revoke
	mv $(DJANGO_DIR)/bin/fsinf-ca-watchers.sh $(CA_DIR)/usr/bin/fsinf-ca-watchers

	sed -i 's/manage.py/\/usr\/share\/fsinf-certificate-authority\/manage.py/' $(CA_DIR)/usr/bin/fsinf*
